.aboutSection {
  color: var(--text-primary);
}

.divider {
  border-top: 1px solid var(--text-primary);
}

.aboutSection p,
.aboutSection h2 {
  padding: var(--container-padding);
}

.aboutSection h2 {
  font-weight: 400;
  font-size: 1rem;
  background-image: url("/about_star.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

@media (prefers-color-scheme: dark) {
  .aboutSection {
    color: var(--text-secondary);
  }
  .divider {
    border-top: 1px solid var(--text-secondary);
  }

  .aboutSection h2 {
    background-image: none;
  }
}
