.disclosure {
  background: var(--bg-secondary);
  border-radius: 0.7rem;
  padding: var(--container-padding);
  color: var(--text-secondary);
}

.disclosure li {
  list-style-type: none;
  font-size: 1.2rem;
}

.disclosure li a {
  text-decoration: underline;
}

.collapsible {
  cursor: pointer;
}

.disclosure h2 {
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .disclosure {
    background: var(--container-bg-dark);
    outline: var(--container-outline-dark);
  }
}
