.pinBoard {
  border-radius: 0.5rem;
  background: var(--bg-yellow);
  border: solid 0.5px var(--text-primary);
  padding: var(--container-padding);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.pinBoard h2 {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  color: black;
  border-bottom: solid 1px black;
}

.pinBoard ul {
  list-style-type: none;
}

.pinBoard a {
  font-weight: 300;
  padding-block: 0.5rem;
  text-decoration: none;
  color: var(--text-primary);
}
