:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --bg-primary: #f1f1f1;
  --bg-secondary: #272727;
  --text-primary: #000000;
  --text-secondary: #f1f1f1;
  --bg-red: linear-gradient(145deg, #ffa195, #ffa19500);
  --bg-yellow: #fff0ca;
  --bg-purple: #f1d3ff;
  --foreground-yellow: #eeff89;
  --foreground-blue: #4553cb;
  --foreground-lightblue: #009adc;
  --foreground-red: #dc2800;
  --foreground-purple: #a889ff;
  --foreground-pink: #ff46a2;
  --foreground-green: #217542;
  --container-padding: 0.7rem;
  --placeholder: #565656;
  --treble-icon: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    /* Dark colors */
    --bg-primary-dark: #000;
    --bg-secondary-dark: #272727;
    --container-bg-dark: #151515;
    --container-outline-dark: solid 1px #414141;
    --accent-dark: #fff172;
    --highlight-dark: #f8f8f8;

    --treble-icon: #fff;

    --transparent: rgba(213, 213, 213, 0);
    --bg-primary: #000000;
    --bg-secondary: var(--bg-secondary-dark);
    --text-primary: #000;
    --text-secondary: #fff;
    --bg-red: var(--container-bg-dark);
    --bg-yellow: var(--accent-dark);
    --bg-purple: var(--container-bg-dark);
    --foreground-yellow: #eeff89;
    --foreground-blue: var(--transparent);
    --foreground-lightblue: var(--transparent);
    --foreground-green: var(--transparent);
    --foreground-pink: #ff46a2;
    --foreground-red: var(--transparent);
    --foreground-purple: rgb(72, 0, 255);
    --placeholder: #56565600;
  }
}
