.main {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-primary: #f1f1f1;
  --bg-secondary: #272727;
  --text-primary: #000000;
  --text-secondary: #f1f1f1;
  --bg-red: #ffa195;
  --bg-yellow: #fff0ca;
  --bg-purple: #f1d3ff;
  --foreground-yellow: #eeff89;
  --foreground-blue: #4553cb;
  --foreground-lightblue: #00b4dc;
  --foreground-red: #dc2800;
  --foreground-purple: #a889ff;
  --container-padding: 0.7rem;

  padding-bottom: var(--container-padding);
  padding-inline: var(--container-padding);
  background: var(--bg-primary);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: var(--container-padding);
}

.header {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-primary: #f1f1f1;
  --bg-secondary: #272727;
  background-color: var(--bg-primary);
  background-image: url("/star.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  display: grid;
  place-items: center;
  padding-block: 0.5rem;
}

.header h1 {
  text-transform: uppercase;

  line-height: 1.4;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--bg-secondary);
}

.badgeList {
  display: flex;
  gap: var(--container-padding);
}

.pinBoard {
  display: flex;
  gap: var(--container-padding);
  align-items: flex-start;
}
