.badgeList {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  justify-items: start;
  align-items: baseline;
  gap: var(--container-padding);
}

.rightColumn {
  width: 100%;
}

.fullProjectPreview {
  display: none;
}

.leftColumn {
  gap: var(--container-padding);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectPage p {
  font-size: 0.8rem;
  color: var(--text-primary);
}

.projectPage {
  display: flex;
  gap: var(--container-padding);
  flex-wrap: wrap-reverse;
  /* padding-inline: auto; */
}

@media (min-width: 60rem) {
  .leftColumn {
    max-width: 17.5rem;
  }

  .rightColumn {
    max-width: 40rem;
  }
  .fullProjectPreview {
    display: block;
  }

  .reducedProjectPreview {
    display: none;
  }
}
