.grid {
  --gap: 0px;
  --grid-size: 100%;
  --colour: var(--foreground-pink);

  overflow: hidden;
  background: var(--bg-primary);
  border: solid 1px var(--foreground-pink);
  border-radius: 0.5rem;
  gap: var(--gap);
  animation: run;
  display: grid;
  grid-template-columns: repeat(
    var(--cell-count),
    calc(var(--grid-size) / var(--cell-count) - var(--gap))
  );
  width: var(--grid-size);
  aspect-ratio: 1;
}

.populated {
  background: var(--colour);
  border-radius: 1rem;
}

.unpopulated {
  background: none;
}

.mediaBox {
  display: flex;
  flex-direction: column;

  color: var(--colour);
}

.controls {
  display: flex;
  justify-content: space-between;
  font-family: "PicNic";
}

.controls button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background: none;
  width: 4rem;
  height: 4rem;
  color: var(--foreground-purple);
}
